
body { 
    font-family: 'Merriweather', serif; 
    font-size: 20px;
    line-height: 1.5;
    background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
  }

h1 {
    font-weight: 600;
    font-family: 'Merriweather', serif; 
}

button:hover {
    background-color: #323537;
}

#output {
    margin-top: 20px;
    font-size: 40px;
    color: #050505;
}

button {
    padding: 10px 20px;
    background-color: #8c92e0;
    color: rgb(244, 247, 249);
    border: inherit;
    border-radius: 4px;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-size: 10px;
}
nav {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    background-color: #f8f9fa; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: px 0;
    gap: 20px;
}
legend {
    font-size: 0.7em; /* Reduce the font size */
    font-weight: bold;
    color: #2980b9;
    padding: 0; /* Remove unnecessary padding */
    text-align: center;
    width: fit-content;
    margin: 0;
}
.footer {
    font-family: 'Merriweather', serif;
    font-size: 0.6em;
    border-radius: 5px;
    margin: 10px;
    padding: 300px;
}