body { 
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.headline-container {
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.headline-1 {
    font-size: 4em;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.headline-2 {
    font-size: 1em;
    color: #34495e;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.subheading {
    color: #7f8c8d;
    font-size: 1.2em;
    max-width: 30em;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 1.5em;
    font-family: 'Georgia', serif;
    line-height: 1.8;
}


nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #2980b9;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #2980b9;
    color: #fff;
}
input[type="text"]{
    width: 50%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.8rem;
    font-family: 'Georgia', serif;
    transition: border-color 0.3s ease;
}
.check-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2980b9;
    color: #fff;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold; 
}
.clear-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;  
}

footer {
    font-size: 0.8rem;
    color: #120e0e;
    text-align: center;
    padding: 10px 15px;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 3.5em;
    }

    .wrapper {
        max-width: 800px;
        margin: 0 auto;
    }
}